#container{
    position: absolute;
    top: 200px;
    left: 600px;
}

#login_btn {
	height: 60px;
	font-size: 30px;
	background-color: #3B5998;
	color: white;
	border-radius: 8px;
}

#login_status {
	font-size: 30px;
	text-align: center;
	color: blue;
}